<app-menu></app-menu>
<div class="container">
    <form class="form mt-5">
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput [(ngModel)]="login.usuario" name="usuario">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput [(ngModel)]="login.senha" name="perfil" type="password">
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <button mat-raised-button (click)="logar()" color="primary">Logar</button>
    </form>
</div>